<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ausgaben bearbeiten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Kategorie</ion-label>
      <ion-select position="floating" [(ngModel)]="outgoingItem.outgoingCategoryId">
        <ion-select-option value="1">Supermarkt</ion-select-option>
        <ion-select-option value="2">KFZ</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Beschreibung</ion-label>
      <ion-input [(ngModel)]="outgoingItem.descr"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Betrag</ion-label>
      <ion-input type="number" [(ngModel)]="outgoingItem.amount"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="saveOutgoingItem()">
    <ion-icon slot="icon-only" name="save"></ion-icon>
  </ion-button>
  <ion-button (click)="deleteOutgoingItem()" color="light">
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-button>  
</ion-content>
