<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ausgaben Details
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteOutgoing()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ausgaben Daten</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Datum</ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY" placeholder="Auswählen" [(ngModel)]="outgoing.outgoingDate"></ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ausgaben</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let outgoingItem of outgoingItems" detail (click)="goToEditPage(outgoingItem.outgoingItemId)">
          <ion-label>{{outgoingItem.descr}}</ion-label>
          <ion-label>{{outgoingItem.amount}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-button (click)="goToEditPage()">Ausgaben hinzufügen</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveOutgoing()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
