<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      FIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>What we got?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{cntOutgoings}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>Tage</ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{cntAmounts}}€</ion-card-title>
                </ion-card-header>
                <ion-card-content>Ausgaben</ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>What do we do today?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
    
        <ion-list lines="none">
          <ion-item (click)="goToPage('outgoings')">
            <ion-icon slot="start" color="medium" name="repeat"></ion-icon>
            <ion-label>Ausgaben</ion-label>
          </ion-item>
          <ion-item (click)="goToPage('evaluations')">
            <ion-icon slot="start" color="medium" name="pie"></ion-icon>
            <ion-label>Auswertungen</ion-label>
          </ion-item>
          <ion-item (click)="goToPage('planning')">
            <ion-icon slot="start" color="medium" name="umbrella"></ion-icon>
            <ion-label>Budgetplanung</ion-label>
          </ion-item>
          <ion-item (click)="goToPage('goals')">
            <ion-icon slot="start" color="medium" name="flag"></ion-icon>
            <ion-label>Ziele</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
